* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

#hero-simple {
  min-height: 600px;
  background-image: url(/assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#hero-simple h1 {
  color: white;
  font-size: 5.8rem;
}
p {
  color: white;
  font-size: 1.8rem;
  width: 100%;
  max-width: 550px;
  text-align: center;
}
#simple-with-botton {
  min-height: 600px;
  background-image: url(/assets/Hero-bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#simple-with-botton h1 {
  color: white;
  max-width: 760px;
  text-align: center;

  font-size: 5.8rem;
}
p {
  color: white;
  font-size: 1.8rem;
  width: 100%;
  max-width: 550px;
  max-height: 48px;
  text-align: center;
  padding-bottom: 15px;
}
.btn {
  font-size: 16px;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.btn-negativ {
  font-size: 16px;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: #0f1715;
  border-radius: 20px;
}
.btn-negativ:hover {
  background-color: #fff;
  color: #0f1715;
}
.btn-round {
  background-color: #34ffc8;
  border-radius: 20px;
}
.btn-round:hover {
  background-color: #fff;
  color: black;
}
#simple-with-text {
  min-height: 600px;
  background-image: url(/assets/Hero-bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#simple-with-text h1 {
  color: white;
  max-width: 760px;
  text-align: center;

  font-size: 5.8rem;
}
#simple-with-text p {
  padding-bottom: 64px;
}
#simple-with-text ul {
  display: flex;
  gap: 24px;
}
.nav-with-name {
  height: 103px;
}
.nav-with-name ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 103px;
  gap: 24px;
  padding-right: 140px;
}
.nav-with-name ul li:first-child {
  margin-right: auto;
}
.nav-with-name ul li:nth-child(5) .btn {
  padding: 19px 41px;
  color: white;
  text-decoration: none;
  display: inline-block;
}
.nav-with-name ul li:nth-child(5) {
  color: #fbf8fc;
}
.nav-with-name ul li:nth-child(5) :hover {
  color: #fcfafc;
}
